################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OnPremDataBase/obj/Debug
/src/OnPremDataBase/bin/Debug
/src/AzureDatabase/obj/Debug
/src/AzureDatabase/bin/Debug
/.vs/ICM-ETL/v17/.suo
*.dbmdl
*.jfm
/src/AzureDatabase/ICM-ETL.AzureDB.jfm
/src/OnPremDataBase/ICM-ETL.OnPremDataBase.jfm
